@model SisMed.MVC.ViewModels.SexoViewModel

@{
    ViewBag.Title = "Deletar";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Deletar Sexo</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Tem certeza que deseja deletar este registro?
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Deletar" class="btn btn-danger" />
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Sexos", new { id = Model.SexoId })'">Voltar</button>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>