@{
    ViewBag.Title = "Confirmação de esquecimento de senha";
    Layout = "../Shared/_LayoutLogin.cshtml";
}
<div class="form">
    <section id="loginForm">
        <div class="col-md-12">
            <img src="~/Images/logo-sismed.png" alt="Logo SisMed" class="img-responsive" style="height: 100%; width: 100%;" />
        </div>
        <hr />
        <div class="col-md-12">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Por favor, verifique seu e-mail para trocar sua senha.
            </p>
            <p class="text-danger">
                <h4>@ViewBag.Status <a href="@ViewBag.LinkAcesso">Link de acesso</a></h4>
            </p>
        </div>
    </section>
</div>

