@{
    ViewBag.Title = "Confirmação de resetamento da senha";
    Layout = "../Shared/_LayoutLogin.cshtml";
}
<div class="form">
    <section id="loginForm">
        <div class="col-md-12">
            <img src="~/Images/logo-sismed.png" alt="Logo SisMed" class="img-responsive" style="height: 100%; width: 100%;" />
        </div>
        <hr />
        <div class="col-md-12">
            <hgroup class="title">
                <h1>Senha resetada com sucesso</h1>
            </hgroup>
            <p>
                Sua senha foi resetada. Por favor @Html.ActionLink("clique aqui para efetuar login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </section>
</div>